---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";

const title = "Astro for Nastro";
---

<BaseLayout title={title}>
  <h2>Blogging peregrinations</h2>
  <Greeting client:load messages={["Hi", "Hola", "Namaste", "Hey there"]} />
</BaseLayout>
